.layout_main{
    height: 75px;
    width: 100%;
    padding: 0 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    -webkit-box-shadow: 0px 2px 20px -5px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 2px 20px -5px rgba(0,0,0,0.5);
    box-shadow: 0px 2px 20px -5px rgba(0,0,0,0.5);
    transition: all linear 0.8s;
    -webkit-transition: all linear 0.8s;
    -moz-transition: all linear 0.8s;
    -ms-transition: all linear 0.8s;
    -o-transition: all linear 0.8s;
}
.layout_main.fixed{
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
    transition: all linear 0.8s;
    -webkit-transition: all linear 0.8s;
    -moz-transition: all linear 0.8s;
    -ms-transition: all linear 0.8s;
    -o-transition: all linear 0.8s;
    z-index: 555;
}
.nav_logo{
    width: 20%;
    display: flex;
    align-items: center;
    gap: 8px;
}
.nav_logo a{
    line-height: 0;
}
.root_search_holder{
    width: 100%;
}
.nav_logo .root_search{
    width: 100%;
    height: 46px;
    padding: 5px 10px;
    border: 1px solid gray;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    font-size: 18px;
}
.nav_logo .root_search:focus-visible{
    border: 1px solid gray;
    box-shadow: none;
    outline: none;
}
.nav_menu{
    width: 60%;
    display: flex;
    justify-content: center;
    column-gap: 8px;
}
.nav_menu a{
    display: inline-block;
    background-color: #086FA4;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 30px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    color: #fff;
}
.nav_menu .active{
    background-color: #09c1d3;
}
.nav_menu a svg{
    font-size: 35px;
}
.nav_action{
    width: 20%;
    display: flex;
    justify-content: flex-end;
    column-gap: 8px;
}
.nav_action_item{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #086FA4;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    overflow: hidden;
    color: #fff;
    font-size: 25px;
    cursor: pointer;
}
.nav_action_item img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.homelayout_main{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.left_sidebar_holder{
    width: 18%;
    height: 89vh;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    position: sticky;
    top: 87px;
    left: 0;
    overflow-y: scroll;
    padding: 25px 10px;
    -webkit-box-shadow: 0px 0px 24px -1px rgba(10,8,10,0.41);
    -moz-box-shadow: 0px 0px 24px -1px rgba(10,8,10,0.41);
    box-shadow: 0px 0px 24px -1px rgba(10,8,10,0.41);
}
.right_sidebar_holder{
    width: 18%;
    -webkit-box-shadow: 0px 0px 24px -1px rgba(10,8,10,0.41);
    -moz-box-shadow: 0px 0px 24px -1px rgba(10,8,10,0.41);
    box-shadow: 0px 0px 24px -1px rgba(10,8,10,0.41);
    height: 89vh;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    position: sticky;
    top: 87px;
    left: 0;
    overflow-y: scroll;
    padding: 25px 10px;
}
.middle_bar_holder{
    width: 60%;
    padding: 0 25px 25px 25px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.left_sidebar_holder::-webkit-scrollbar{
    width: 5px;
}
.left_sidebar_holder::-webkit-scrollbar-thumb{
    width: 5px;
    background-color: #086FA4;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.left_sidebar_holder::-webkit-scrollbar:horizontal{
    height: 8px;
}
.logout_btn{
    text-align: center;
}
.logout_btn button{
    margin-top: 15px;
    padding: 10px 30px;
    background-color: #086FA4;
    color: #fff;
    text-transform: uppercase;
    border: 2px solid #086FA4;
    cursor: pointer;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
    font-size: 18px;
    font-weight: 500;
}
.logout_btn button:hover{
    background-color: transparent;
    color: #086FA4;
}
.left_sidebar_nav{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
.left_sidebar_nav a{
    border-radius: 8px;
    width: 100%;
    display: flex;
    align-items: center;
    height: 50px;
   padding: 0 10px;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    font-size: 18px;
    color: #000;
    font-weight: 700;
}
.left_sidebar_nav a:hover{
    background-color: #ebe8e3db;
}
.left_sidebar_navimg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    overflow: hidden;
    background-color: #086FA4;
    display: flex;
    align-items: center;
    justify-content: center;
}
.left_sidebar_navimg h3{
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
}
.left_sidebar_navimg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.left_sidebar_nav_wrapper{
    display: flex;
    align-items: center;
    gap: 10px;
}
.left_sidebar_nav_wrapper h4{
    font-size: 18px;
    font-weight: 700;
    color: #000;
}
.left_sidebar_nav_wrapper svg{
    font-size: 37px;
}
.layout_sidebar{
    width: 0;
    height: 100vh;
    background-color: #fff;
    position: fixed;
    right: 0px;
    top: 75px;
    z-index: 555;
    overflow-y: scroll;
    -webkit-box-shadow: -2px 0px 21px 0px rgba(0,0,0,0.41);
    -moz-box-shadow: -2px 0px 21px 0px rgba(0,0,0,0.41);
    box-shadow: -2px 0px 21px 0px rgba(0,0,0,0.41);
}
.layout_sidebar::-webkit-scrollbar{
    width: 8px;
}
.layout_sidebar::-webkit-scrollbar-thumb{
    width: 8px;
    background-color: #086FA4;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.layout_sidebar::-webkit-scrollbar:horizontal{
    height: 8px;
}
.sidebar_head{
    border-bottom: 1px solid #000;
    padding: 15px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sidebar_body{
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
.sidebar_item{
    border-radius: 5px;
    background-color: rgb(212, 208, 208);
    width: 100%;
    height: 100px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
}
.exit_btn{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid #086FA4;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.exit_btn svg{
    font-size: 20px;
}