/* ======= Dashboard Style Start ======== */
.dashboard-main {
  padding: 20px 0px;
}
.data-container {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* ======= Dashboard Style End ======== */
