.main_box{
    background-color: #fff;
    width: 360px;
    height: 460px;
    position: fixed;
    right: 20px;
    bottom: 0;
    z-index: 1200;
    border-radius: 8px 8px 0 0;
    -webkit-border-radius: 8px 8px 0 0;
    -moz-border-radius: 8px 8px 0 0;
    -ms-border-radius: 8px 8px 0 0;
    -o-border-radius: 8px 8px 0 0;
    -webkit-box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.75);
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
.box_head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 10px;
    border-bottom: 1px solid #086FA4;
    height: 50px;
}
.user_img_box{
    width: 35px;
    height: 35px;
    background-color: #086FA4;
    border-radius: 50%;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.user_img_box h3{
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
}
.user_img_box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.user_info{
    display: flex;
    align-items: center;
    column-gap: 7px;
}
.user_name h3{
    font-size: 16px;
}
.user_name p{
    font-size: 12px;
    padding-top: 4px;
}
.user_action{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 0;
}
.msg_exit_btn, .msg_minimize_btn,.audio_call{
    cursor: pointer;
    background-color: transparent;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.msg_exit_btn:hover,.msg_minimize_btn:hover,.audio_call:hover{
    background-color: #cfcaca;
}
.msg_exit_btn svg, .msg_minimize_btn svg, .audio_call svg{
    font-size: 20px;
}
.main_box.close{
    bottom: -413px;
}
.main_box.exit{
    display: none;
}
.box_body{
    height: 360px;
    width: 100%;
    padding: 10px;
}
.react-scroll-to-bottom--css-onmox-1n7m0yu::-webkit-scrollbar{
    width: 5px;
}
.react-scroll-to-bottom--css-onmox-1n7m0yu::-webkit-scrollbar-thumb{
    width: 5px;
    height: 5px;
    background-color: #086FA4;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.box_body::-webkit-scrollbar:horizontal{
    height: 8px;
}
.send_msg{
    margin-top: 14px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 8px;
}
.send_text_box{
    position: relative;
    margin-left: 40px;
}
.send_msg p{
    text-align: right;
    background-color: #086FA4;
    color: #fff;
    display: inline-block;
    width: auto;
    padding: 5px 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    line-height: 1.2;
    text-align: justify;
}
.send_msg_action{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: transparent;
    opacity: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    cursor: pointer;
    position: absolute;
    left: -8px;
    top: 50%;
    transform: translate(-100%,-50%);
    -webkit-transform: translate(-100%,-50%);
    -moz-transform: translate(-100%,-50%);
    -ms-transform: translate(-100%,-50%);
    -o-transform: translate(-100%,-50%);
}
.send_msg_action:hover{
    background-color: #e4e1e1;
}
.send_msg:hover .send_msg_action{
    opacity: 1;
}
.receive_msg{
    margin-top: 14px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 8px;
}
.receive_text_box{
    position: relative;
    margin-right: 40px;
}

.receive_msg p{
    text-align: left;
    background-color: #e4e1e1;
    display: inline-block;
    width: auto;
    padding: 5px 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    line-height: 1.2;
    text-align: justify;
}
.receive_msg_action{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: transparent;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    cursor: pointer;
    position: absolute;
    right: -8px;
    top: 50%;
    transform: translate(100%,-50%);
    -webkit-transform: translate(100%,-50%);
    -moz-transform: translate(100%,-50%);
    -ms-transform: translate(100%,-50%);
    -o-transform: translate(100%,-50%);
    opacity: 0;
}
.receive_msg_action:hover{
    background-color: #e4e1e1;
}
.receive_msg:hover .receive_msg_action{
    opacity: 1;
}
.onebyoneimg{
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    overflow: hidden;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
}
.onebyoneimg img{
    display: block;
    width: 230px;
}
.chatimg_fullview{
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99999;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}
.chatimg_fullview img{
    width: 500px;
}
.chatimg_fullview button{
    position: absolute;
    background-color: #086FA4;
    color: #fff;
    padding: 10px 20px;
    right: 50px;
    top: 50px;
    cursor: pointer;
    border: 0;
    font-size: 22px;
}

.box_footer{
    height: 50px;
    width: 100%;
    padding: 5px 10px;
    display: flex;
    align-items: center;
}
.media_box{
    height: 40px;
    width: 80%;
    position: relative;
}
.box_footer .input_box{
    height: 100%;
    border-radius: 5px;
    width: 100%;
    outline: none;
    border: none;
    padding: 0 32px 0 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: 16px;
    background-color: #e4e1e1;
}
.voice_box{
    height: 100%;
    margin-right: 5px;
    height: 35px;
    position: relative;
}
.box_footer .audio-recorder{
    /* width: 35px;
    height: 35px; */
    margin-right: 5px;
    justify-content: center;
    align-items: center;
}
.voice_plus_icon{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
}

.receive_msg audio::-webkit-media-controls-panel {
     background-color: #e4e1e1 !important;
     color: #fff; 
}
.receive_msg audio{
    height: 45px;
    width: 260px;
}
.send_msg audio::-webkit-media-controls-panel {
     background-color: #086FA4 !important;
     color: #fff !important;
}
.send_msg audio{
    height: 45px;
    color: #fff !important;
    width: 260px;
}
.voice_send_wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    -webkit-box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.5);
}
.voice_send_wrapper audio::-webkit-media-controls-panel{
    background-color: #086FA4;
}
.voice_send_wrapper audio{
    height: 45px;
    margin: 0 auto;
}
.voice_send_wrapper button{
    color: #fff;
    background-color: #086FA4;
    padding: 5px 12px;
    border: none;
    cursor: pointer;
}
.voice_btn_wrapper{
    display: flex;
    justify-content: center;
    column-gap: 10px;
    background: #fff;
}
.voice_plus_icon svg{
    color: #086FA4;
    font-size: 20px;
}
.voice_plus_icon:hover{
    background-color: #e4e1e1;
}
.voice_modal{
    width: 110px;
    background-color: #fff;
    position: absolute;
    left: 0;
    top: -7px;
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    -webkit-box-shadow: 0px 0px 9px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 9px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 9px -2px rgba(0,0,0,0.75);
}
.voice_modal ul{
    display: flex;
    flex-direction: column;
    row-gap: 0px;
    text-align: center;
}
.voice_modal ul li{
    padding: 2px 0;
    position: relative;
    cursor: pointer;
}
.voice_modal ul li:hover{
    background-color: #086FA4;
    color: #fff;
}
.msg_send_file{
    background-color: red;
    width: 110px;
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
}
.camera_main{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 5555;
    background-color: rgba(0, 0, 0, 0.769);
}
.camera_main video{
    width: 100% !important;
    height: 90vh !important;
    box-shadow: 0px 0px 11px 0px rgb(0 0 0 / 25%);
    z-index: 5555;
}
.camera_main .close_btn{
    background-color: #086FA4;
    color: #fff;
    padding: 8px 15px;
    border: 0;
    position: absolute;
    right: 50px;
    top: 50px;
    z-index: 55555;
    font-size: 18px;
    font-weight: 500;
}
.send_btn{
    margin-left: 5px;
}
.send_icon, .like_icon{
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    cursor: pointer;
}
.send_icon:hover, .like_icon:hover{
    background-color: #e4e1e1;
}
.send_icon svg, .like_icon svg{
    color: #086FA4;
    font-size: 22px;
}
.send_msg_img{
    width: 200px;
}

.media_box svg{
    position: absolute;
    right: 7px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    font-size: 19px;
    cursor: pointer;
    color: #2c2c2c;
}
.msg_emoji_box{
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-100%,-110%);
    -webkit-transform: translate(-100%,-110%);
    -moz-transform: translate(-100%,-110%);
    -ms-transform: translate(-100%,-110%);
    -o-transform: translate(-100%,-110%);
}
.msg_like_emoji{
    background-color: transparent !important;
    font-size: 25px !important;
    padding: 0 !important;
    line-height: 1 !important;
}