.post_wrapper{
    padding: 20px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    -webkit-box-shadow: 0px 0px 22px 1px rgba(0,0,0,0.34);
    -moz-box-shadow: 0px 0px 22px 1px rgba(0,0,0,0.34);
    box-shadow: 0px 0px 22px 1px rgba(0,0,0,0.34);
}
.post_input_group{
    display: flex;
    gap: 15px;
    align-items: center;
    padding-bottom: 15px;
    border-bottom: 1px solid #cec2c2;
}
.post_owner_img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 10%;
    background-color: #086FA4;
}
.post_owner_img h3{
    color: #fff;
    font-size: 25px;
}
.post_owner_img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.post_input_box{
    padding: 15px;
    background-color: #F0F2F5;
    flex-basis: 90%;
    border-radius: 30px;
    cursor: pointer;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    transition: all linear 0.1s;
    -webkit-transition: all linear 0.1s;
    -moz-transition: all linear 0.1s;
    -ms-transition: all linear 0.1s;
    -o-transition: all linear 0.1s;
}
.post_input_box:hover{
    background-color: #e4e9f0;
}
.post_actions{
    display: flex;
    align-items: center;
    margin-top: 15px;
    justify-content: space-between;
}
.post_actions_item{
    padding: 10px 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    flex-basis: 33%;
    cursor: pointer;
    transition: all linear 0.1s;
    -webkit-transition: all linear 0.1s;
    -moz-transition: all linear 0.1s;
    -ms-transition: all linear 0.1s;
    -o-transition: all linear 0.1s;
}
.post_actions_item svg{
    font-size: 24px;
}
.post_actions_item span{
    font-size: 17px;
    font-weight: 600;
}
.post_actions_item:hover{
    background-color: #F0F2F5;
}
.create_post_head{
    border-bottom: 1px solid black;
    padding: 25px 18px;
    text-align: center;
    position: relative;
}
.create_post_body{
    padding: 18px;
}
.post_input_text{
    width: 100%;
    min-height: 125px;
    font-size: 22px;
    border: none;
    margin: 15px 0;

}
.post_input_text:focus-visible{
    border: none;
    outline: none;
}
.post_exit_btn{
    position: absolute;
    right: 18px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.post_btn{
    border-radius: 5px;
    padding: 12px;
    font-size: 18px;
    font-weight: 500;
    width: 100%;
    background-color: #086FA4;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: #fff;
    border: none;
    cursor: pointer;
}
.post_creator{
    display: flex;
    gap: 10px;
    align-items: center;
}
.post_btn.hide_post_btn{
    opacity: 0.4;
    cursor: not-allowed;
}