.error_main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    gap: 50px;
  }
  .error_main h1{
    font-size: 80px;
  }
  .error_main button{
    border: none;
    padding: 15px 30px;
    background-color: #086FA4;
    color: #fff;
    font-size: 22px;
    border-radius: 7px;
    cursor: pointer;
  }